- pp = MongoPage.where(deleted_at: nil).ne(published_version_id: nil)

%h4 Pages
.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Pages (all time)
      .panel-body= MongoPage.where(deleted_at: nil).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Pages (30 days)
      .panel-body= MongoPage.where(deleted_at: nil).gt(created_at: 30.days.ago).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Pages (7 days)
      .panel-body= MongoPage.where(deleted_at: nil).gt(created_at: 7.days.ago).count
.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Published Pages (all time)
      .panel-body= pp.count
  .col-xs-4
    .panel.panel-default
      .panel-heading Published Pages (30 days)
      .panel-body= pp.gt(created_at: 30.days.ago).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Published Pages (7 days)
      .panel-body= pp.gt(created_at: 7.days.ago).count
