- plans = scope.includes(site: :plan).map { |s| s.site.plan }
- plans_by_name = plans.group_by(&:name)
- values_by_name = plans_by_name.each_with_object({}) { |(name, plans), h| h[name] = plans.map(&:price).sum / 100 }
- colors = { 'starter' => '#1CA8DD', 'basic' => '#9F86FF', 'pro' => '#E4D836', 'entry' => '#1CA8DD', 'growth' => '#9F86FF', 'max' => '#E4D836' }
- values = values_by_name.map { |name, value| { value: plans_by_name[name].count, label: name, color: colors[name] } }

.row
  .col-xs-4
    .w-lg.m-x-auto.m-t-md
      %canvas{'data-chart' => 'doughnut', 'data-value' => values.to_json, 'data-segment-stroke-color' => '#fff'}
  .col-xs-8
    .statcard.p-a-md.m-b{class: "statcard-#{cname}"}
      %h3.statcard-number= number_to_currency (plans.map(&:price).sum / 100) * 0.8
      %span.statcard-desc Monthly
    .row
      .col-xs-4
        .statcard.statcard-primary.p-a-md
          %h3.statcard-number= number_to_currency values_by_name['starter'].to_i * 0.8
          %span.statcard-desc Starter

      .col-xs-4
        .statcard.statcard-info.p-a-md
          %h3.statcard-number= number_to_currency values_by_name['basic'].to_i * 0.8
          %span.statcard-desc Basic

      .col-xs-4
        .statcard.statcard-warning.p-a-md
          %h3.statcard-number= number_to_currency values_by_name['pro'].to_i * 0.8
          %span.statcard-desc Pro

    .row
      .col-xs-4
        .statcard.statcard-primary.p-a-md
          %h3.statcard-number= number_to_currency values_by_name['entry'].to_i * 0.8
          %span.statcard-desc Entry

      .col-xs-4
        .statcard.statcard-info.p-a-md
          %h3.statcard-number= number_to_currency values_by_name['growth'].to_i * 0.8
          %span.statcard-desc Growth

      .col-xs-4
        .statcard.statcard-warning.p-a-md
          %h3.statcard-number= number_to_currency values_by_name['max'].to_i * 0.8
          %span.statcard-desc Max

