.hr-divider.m-t.m-b
  %h3.hr-divider-content.hr-divider-heading
    Conversion

- scope = ShopifyShop.where.not(shopify_plan_name: "staff")

.row
  .col-xs-4
    .statcard.statcard-success.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.count
      %span.statcard-desc Installs

  .col-xs-4
    .statcard.statcard-success.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.with_plan.count
      %span.statcard-desc Chose plan

    .statcard.statcard-info.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.without_plan.active.count
      %span.statcard-desc Pending

    .statcard.statcard-danger.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.without_plan.inactive.not_dead.count
      %span.statcard-desc Uninstalled

    .statcard.statcard-warning.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.without_plan.inactive.dead.count
      %span.statcard-desc Dead

  .col-xs-4
    .statcard.statcard-success.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.with_plan.active.out_of_trial.count
      %span.statcard-desc Converted

    .statcard.statcard-info.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.with_plan.active.in_trial.count
      %span.statcard-desc In trial

    .statcard.statcard-danger.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.with_plan.inactive.not_dead.count
      %span.statcard-desc Uninstalled

    .statcard.statcard-warning.p-a-md.m-b
      %h3.statcard-number= number_with_delimiter scope.with_plan.inactive.dead.count
      %span.statcard-desc Dead

.hr-divider.m-y-md
  %ul.nav.nav-pills.hr-divider-content.hr-divider-nav
    %li
      %a(href="#revenue-trial" data-toggle="tab") Trial
    %li.active
      %a(href="#revenue-current" data-toggle="tab") Current
    %li
      %a(href="#revenue-lost" data-toggle="tab") Lost

.tab-content
  .tab-pane#revenue-trial
    = render partial: 'revenue', locals: {scope: scope.with_plan.active.in_trial, cname: 'info'}

  .tab-pane.active#revenue-current
    = render partial: 'revenue', locals: {scope: scope.with_plan.active.out_of_trial, cname: 'success'}

  .tab-pane#revenue-lost
    = render partial: 'revenue', locals: {scope: scope.with_plan.inactive, cname: 'danger'}


.hr-divider.m-t-md.m-b
  %h3.hr-divider-content.hr-divider-heading
    Shops

%table.table
  %thead
    %tr
      %th.col-xs-3 URL
      %th.col-xs-3 Name
      %th.col-xs-2 Email
      %th.col-xs-2 Status
      %th.col-xs-1 Plan
      %th.col-xs-1 Actions
  %tbody
    - scope.order(name: :asc).includes(:active_shopify_charge, site: :plan).each do |shop|
      %tr
        %td= link_to shop.domain, "https://#{shop.domain}"
        %td= link_to shop.name, admin_shop_path(shop)
        %td= shop.email
        %td
          - if shop.active?
            %span.label.label-success active
          - else
            - if shop.dead?
              %span.label.label-warning dead
            - else
              %span.label.label-danger uninstalled

        %td= shop.site.plan.try(:name)
        %td
          = link_to "become", become_admin_shop_path(shop), method: :post
          - if shop.trialled_at.present?
            = link_to "retrial", retrial_admin_shop_path(shop), method: :post

