.panel.panel-default
  .panel-heading= @shop.name
  .panel-body
    %ul
      %li= @shop.shop_owner
      %li= @shop.domain
      %li= @shop.email
      %li= @shop.shopify_plan_name
      %li= @shop.time_zone

%h2 Theme #{@theme["name"]}

%h3 Page liquid

%pre= @page_liquid

%h3 Discount
- @shop.site.build_discount unless @shop.site.discount.present?
- discount = @shop.site.discount

- if discount.used? || discount.expired?
  .alert.alert-info Updating this discount make it usable again.
  %p
    - if discount.used?
      %span.label.label-success Used #{discount.used_at}
    - elsif discount.expired?
      %span.label.label-warning Expired #{discount.expires_at}

= simple_form_for [:admin, @shop.site.discount] do |f|
  = f.input :site_id, as: :hidden
  = f.input :amount
  = f.input :plan_name, as: :select, collection: Settings.shopify_plans.keys
  = f.submit
