.container
  = link_to '/' do
    = image_tag "v2/logo_blue.png", height: "50px"
  = render "/shared/flash"
  %h2.page-header
    Shogun
    %small Invoice #{@invoice.id}
  .row
    .col-sm-6
      %panel.panel-default
        .panel-heading
          - if @invoice.paid?
            %span.label.label-success PAID
          - else
            %span.label.label-default UNPAID
        %ul.list-group
          %li.list-group-item Site: #{@invoice.site.name}
          %li.list-group-item URL: #{@invoice.site.url}
          %li.list-group-item Description: #{@invoice.description}
          %li.list-group-item Created at: #{@invoice.created_at}
          %li.list-group-item
            Amount:
            %strong= number_to_currency @invoice._amount / 100.0
          - if @invoice.paid?
            %li.list-group-item Paid at: #{@invoice.paid_at}


  - unless @invoice.paid?
    = simple_form_for [:pay, @invoice], method: :post do |f|
      %script.stripe-button(src="https://checkout.stripe.com/checkout.js" data-key="#{ENV["STRIPE_PUBLISHABLE_KEY"]}" data-name="Shogun" data-description="#{@invoice.description}" data-amount="#{@invoice._amount}")
