%p
  Thanks for installing Shogun!
%p
  At Shogun, we wanted to make building and editing new pages as easy as possible. Please take a look at our
  = succeed ' and' do
    %a{href: "https://getshogun.com/tutorials"} tutorials
  = succeed ' to get started.' do
    %a{href: "https://getshogun.com/docs"} documentation

%p
  If you need any help, or have any questions, reach out to us at
  = succeed '.' do
    %a{href: "mailto:support@getshogun.com"} support@getshogun.com
%p
  Thanks again!

%p
  Nick
%p
  Founder/COO, Shogun Labs
  nick@getshogun.com
