%p
  Sorry to see you go.
%p
  Shogun is a work in progress, and we are striving to make this the ultimate Shopify page builder. We would love any feedback that you have so we can continually improve the experience.
%p
  We would love it if you could take 1 minute survey about your experience
  = succeed '.' do
    %a{href: "http://goo.gl/forms/0w0bVIRYMJ"} here

="--"
%p
  Nick
%p
  ="Founder/COO, Shogun Labs\nnick@getshogun.com"
