%nav{:class => "navbar navbar-default navbar-top shogun-nav"}
  .container
    .navbar-header
      %a{:class => "navbar-brand", :href => "/"}
        .brand
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/#plans", class: "light"}
            Plans
        %li
          %a{href: "/docs", class: "light"}
            Docs
        %li
          %a{href: "/sign_in", class: "light"}
            Sign In
