.box-container
  %h1.light
    Sign In
  = render "/shared/flash"
  .box
    = form_tag session_path, method: :post do
      .form-group
        = render "/shared/google_auth"
      %h3.light
        OR
      .form-group
        %input#sign_in_email.form-control(type="email" name="email" placeholder="Email")
      .form-group
        %input#sign_in_password.form-control(type="password" name="password" placeholder="Password")


      .links
        .form-group
          %input.button.light(type="submit" value="SIGN IN")
        = link_to 'Sign up', sign_up_path, class: "light"
