.box-container
  %h1.light
    Sign Up
  = render "/shared/flash"
  .box
    = simple_form_for @user do |f|
      .form-group
        = render "/shared/google_auth"
      %h3.light
        OR
      .row
        .col-sm-6
          = f.input :first_name, placeholder: 'First Name', label: false
        .col-sm-6
          = f.input :last_name, placeholder: 'Last Name', label: false
      = f.input :email, placeholder: 'Email', label: false
      = f.input :company_name, placeholder: 'Company Name', label: false
      = f.input :password, placeholder: 'Password', label: false
      = f.input :password_confirmation, placeholder: 'Password Confirmation', label: false
      .links
        = f.button :submit, "SIGN UP", class: 'button light'
        %br
        = link_to 'Sign in', sign_in_path, class: 'light'
