#app

:coffeescript
  window.CURRENT_USER = #{CurrentUserSerializer.new(current_user, root: false).to_json}
  window.INPUT_NAMES = #{MongoVariable::INPUT_NAMES.to_json}
  window.STRIPE_PUBLISHABLE_KEY = "#{ENV["STRIPE_PUBLISHABLE_KEY"]}"
  window.TYPE_INPUTS = #{MongoVariable::TYPE_INPUTS.to_json}
  window.TYPE_NAMES = #{MongoVariable::TYPE_NAMES.to_json}
  window.TYPES_FOR_SELECT = #{MongoVariable::TYPES_FOR_SELECT.to_json}
  window.TYPES_FOR_SELECT_EXCLUDING_DROPZONE = #{MongoVariable::TYPES_FOR_SELECT_EXCLUDING_DROPZONE.to_json}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.10.2/uploadcare/uploadcare.full.min.js"></script>

:coffeescript
  window.pusher = new Pusher "#{ENV["PUSHER_KEY"]}"

= javascript_include_tag 'application'

:coffeescript
  analytics.identify(CURRENT_USER.id, {
    name: CURRENT_USER.first_name + ' ' + CURRENT_USER.last_name,
    first_name: CURRENT_USER.first_name,
    last_name: CURRENT_USER.last_name,
    company_name: CURRENT_USER.company_name,
    email: CURRENT_USER.email
  })

  window.channel = pusher.subscribe "#{current_user.pusher_channel}"

  channel.bind "site:updated", (site) ->
    SitesStore.updated site

  channel.bind "page:updated", (page) ->
    PagesStore._reload page.id
