- if @active_charge.present? && @active_charge["trial_ends_on"].to_datetime.future?
  :javascript
    window.SHOPIFY_TRIAL_REMAINING = true;

#shopify_app

= render "/shared/plan_setter"

:coffeescript
  window.SHOPIFY_SITE = #{SiteSerializer.new(@shop.site, root: false, scope: current_user).to_json}
  window.CURRENT_USER = #{CurrentUserSerializer.new(current_user, root: false).to_json}
  window.INPUT_NAMES = #{MongoVariable::INPUT_NAMES.to_json}
  window.TYPE_INPUTS = #{MongoVariable::TYPE_INPUTS.to_json}
  window.TYPE_NAMES = #{MongoVariable::TYPE_NAMES.to_json}
  window.TYPES_FOR_SELECT = #{MongoVariable::TYPES_FOR_SELECT.to_json}
  window.TYPES_FOR_SELECT_EXCLUDING_DROPZONE = #{MongoVariable::TYPES_FOR_SELECT_EXCLUDING_DROPZONE.to_json}
  window.PRICE_MODIFIER = #{@price_modifier}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.9/ace.js"></script>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script charset="utf-8" src="//ucarecdn.com/widget/2.10.2/uploadcare/uploadcare.full.min.js"></script>

:coffeescript
  window.pusher = new Pusher "#{ENV["PUSHER_KEY"]}"

= javascript_include_tag 'shopify_application'

:coffeescript
  window.channel = pusher.subscribe "#{current_user.pusher_channel}"

  channel.bind "page:updated", (page) ->
    if page.site_id == window.SHOPIFY_SITE.id
      PagesStore._reload page.id
