window.ADD_ONS = <%= Settings.add_ons.to_json %>;
window.LOADING_IMAGE_URL = '<%= asset_url("loading.gif") %>';
window.LAYOUTS = <%= Settings.layouts.to_json %>;
window.TEXT_IMAGE_URL = '<%= asset_url("text.png") %>';
window.HTML_IMAGE_URL = '<%= asset_url("html.png") %>';
window.MARKDOWN_IMAGE_URL = '<%= asset_url("markdown.png") %>';
window.SHOPIFY_PLANS = <%= Settings.shopify_plans.to_json %>;
window.PLACEHOLDER_URL = '<%= asset_url("tsunami-bw.jpg") %>';
window.SCREEN_SIZES = <%= MongoComponent::SCREEN_SIZES.to_json %>;
window.SCREEN_ICONS = {
  xs: "mobile",
  sm: "tablet",
  md: "laptop",
  lg: "desktop"
};
window.SHOGUN_EDITOR_URL = '<%= ENV["SHOGUN_EDITOR_URL"] %>';
window.STANDARD_TEMPLATES = <%= TemplateService.standard_templates.to_json %>;
window.UPLOADCARE_CROP = 'free';
window.UPLOADCARE_IMAGES_ONLY = true;
window.UPLOADCARE_PREVIEW_STEP = true;
window.UPLOADCARE_LIVE = false;
window.UPLOADCARE_MANUAL_START = true;
window.UPLOADCARE_PUBLIC_KEY = '<%= ENV["UPLOADCARE_PUBLIC_KEY"] %>';
window.UPLOADS_CDN_URL = '<%= ENV["UPLOADS_CDN_URL"] %>';
window.COMPONENT_IMAGE_URLS = {
  markdown: '<%= asset_url("components/markdown.png") %>',
  container: '<%= asset_url("components/container.png") %>',
  box: '<%= asset_url("components/box.png") %>',
  text: '<%= asset_url("components/text.png") %>',
  image: '<%= asset_url("components/image.png") %>',
  columns: '<%= asset_url("components/columns.png") %>',
  html: '<%= asset_url("components/html.png") %>',
  video: '<%= asset_url("components/video.png") %>',
  product: '<%= asset_url("components/product.png") %>',
  button: '<%= asset_url("components/button.png") %>',
  tabs: '<%= asset_url("components/tabs.png") %>',
  accordion: '<%= asset_url("components/accordion.png") %>'
};

window._uploadImage = function(callback) {
  var dialog = uploadcare.openDialog(null, {});
  dialog.done(function(data) {
    data.done(function(f) {
      var url = "https://ucarecdn.com/" + f.uuid + "/";
      if (f.cdnUrlModifiers) {
        url += f.cdnUrlModifiers;
      }

      var quality = window.HIGH_RES_IMAGES ? "best" : "normal";
      url += "-/stretch/off/-/resize/2000x/-/quality/" + quality + "/";
      callback(url);
    });
  });
};

window.numberToCurrency = function(n) {
  return n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
};
