//= require config
//= require jquery
//= require react
//= require react_ujs
//= require underscore-min
//= require liquid.min
//= require liquid_filters
//= require marked
//= require humps
//= require uuid
//= require ./components/util/icon
//= require deconflict
//= require_tree ./mixins
//= require_tree ./editor/inner
//= require inner_app

var $head = SHOGUN_JQUERY("head");

SHOGUN_JQUERY('<link href="<%= asset_url("inner.css") %>" rel="stylesheet" />').appendTo($head);
SHOGUN_JQUERY('<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />').appendTo($head);
SHOGUN_JQUERY.getScript("https://cdn.ckeditor.com/4.6.1/full/ckeditor.js");
SHOGUN_JQUERY.getScript("https://ucarecdn.com/widget/2.10.2/uploadcare/uploadcare.full.min.js");

SHOGUN_JQUERY('body').on('focus', '[contenteditable=true]', function(e) {
  SHOGUN_JQUERY(this).parents('[draggable=true]')
    .attr('data-dd', 1)
    .removeAttr('draggable');
  SHOGUN_JQUERY(this).one('blur', function(e) {
    SHOGUN_JQUERY(this).parents('[data-dd="1"]')
      .attr('draggable', 'true')
      .removeAttr('data-dd');
  });
});
