//= require config
//= require jquery
//= require jquery-ui/slider
//= require bootstrap-sprockets
//= require react
//= require react_ujs
//= require underscore-min
//= require uuid
//= require query_string
//= require immutable.min
//= require bootstrap-colorpicker.min
//= require Sortable.min
//= require marked
//= require redactor.min
//= require redactor-uploadcare

//= require ./mixins/embed_manager
//= require ./mixins/multi_input
//= require ./mixins/clearable
//= require_tree ./components/inputs
//= require_tree ./editor/outer
//= require ./components/util/loading
//= require ./components/util/icon
//= require ./components/util/button
//= require ./components/util/columns
//= require ./components/util/panel
//= require ./components/util/tabs
//= require ./components/util/accordion
//= require ./components/util/dropdown_button
//= require outer_app

var $head = $("head");

$('<link href="<%= asset_url("outer.css") %>" rel="stylesheet" />').appendTo($head);
$('<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />').appendTo($head);
$('<script src="https://ucarecdn.com/widget/2.10.2/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>').appendTo($head);
