//  spin

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotateY(0deg);
  }

  100% {
    -moz-transform: rotateY(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotateY(0deg);
  }

  100% {
    -ms-transform: rotateY(360deg);
  }
}

// loading

@keyframes loading {
  0% {
    width: 50px;
  }

  100% {
    width: 60px;
  }
}

@-webkit-keyframes loading {
  0% {
    width: 50px;
  }

  100% {
    width: 60px;
  }
}

@-moz-keyframes loading {
  0% {
    width: 50px;
  }

  100% {
    width: 60px;
  }
}

@-ms-keyframes loading {
  0% {
    width: 50px;
  }

  100% {
    width: 60px;
  }
}
