// base background
$white: #FFFFFF;

// text on dark
// off white background
$light-grey: #F6F6F6;

// text on light
$grey: #979797;

// dark background
$dark-grey: #2C2C2C;

// logo color
$yellow: #F7DA64;
$dark-yellow: #FAC51C;

// button background
$light-red: #EB6B56;

// colored text
$dark-red: #D14841;


// NEW STUFF

$shogun-primary: #26A6FF; //blue
$shogun-primary-muted: #A1D8FF; //light-blue
$shogun-secondary: #F266C3; //pink

// checkmarks
$checkmarks: #4FC165;
