@import url(//fonts.googleapis.com/css?family=Ubuntu:400,500|Muli:300,400);

@font-face {
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: 'Muli', sans-serif;
}

@import url(//fonts.googleapis.com/css?family=Lato:100,400,700|Open+Sans:400,300);

@font-face {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Lato', sans-serif;
}
