= content_for :head do
  %link(rel="stylesheet" type="text/css" href="#{css_embed_path(@uuid)}")
  %script(type="text/javascript" src="#{js_embed_path(@uuid)}")

= raw @html

:coffeescript
  head = document.getElementsByTagName("head")[0]
  window.addEventListener "message", (message) ->
    if message.data?.href
      link = document.createElement("link")
      link.href = message.data.href
      link.rel = "stylesheet"
      head.insertBefore link, head.firstChild
