.multi-text-input {
  margin-bottom: 10px;
}

.multi-text-input-handle {
  cursor: move;
}

.multi-image-input {
  margin-bottom: 10px;
}

.multi-image-input-handle {
  cursor: move;
}

.multi-complex-value-handle {
  cursor: move;
}

.handle {
  cursor: move;
}
