/*
 *= require redactor
 *= require_self
 */

// fonts and colors
@import "partials/*";

// overrides
@import "variables";

// bootstrap
@import "basic";

// flatly style overrides
@import "override";

@import "pages";
@import "blogs";
@import "sites";

@import "shared";

@import "buttons";
@import "text";
@import "inputs";

body {
  padding-top: 100px;
}

body.shopify-app {
  padding-top: 15px;


//// shopify pricing page ////

  .pricing-panel {
    li {
      border: 0px;
      height: 50px;
      padding: 20px 0;
    }

    form {
      padding: 10px;
    }
  }

}

.label-tooltip {
  cursor: default;
}

.navbar {
  .brand {
    background-image: url(image_path("logo.png"));
    width: 70px;
    height: 33px;
    background-size: 70px 33px;
    margin-top: -6px;
  }

  .sites-menu, .pages-menu {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

body.heroku {
  .navbar {
    margin-top: 32px;
  }

  .embed {
    height: calc(100% - 32px);
    margin-top: -68px;
  }
}

.loading {
  img {
    border-radius: 5px;
  }
}

pre, pre * {
  -webkit-user-select: text;
  user-select: text;
}

.bootstrap-growl.alert {
  padding: 6px 0px;
  top: 51px !important;
  left: 0px !important;
  width: 100%;
  text-align: center;
  border-radius: 0px;

  .close {
    top: 0px;
    right: 4px;
  }
}

.page {
  > .bootstrap-growl.alert {
    top: 50px !important;
    left: 50px !important;
    width: calc(100% - 290px);
  }
}

.entries {
  table {
    table-layout: fixed;
    td {
      word-wrap: break-word;
    }
  }
}

.shopify-site-settings {
  .shopify-billing-form {
    padding: 5px;
  }
}
