.button {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  border-radius: 4px;
  padding: 10px 25px;
  text-decoration: none;
  border: none;

  &.light {
    color: $light-grey;
    background-color: transparent;
    border: 1px solid $light-grey;
  }

  &.blue {
    background-color: $shogun-primary;
    color: $light-grey;
  }

  &.small {
    font-size: 14px;
    padding: 10px 16px;
  }
}
