// fonts and colors
@import "partials/*";

// text on light
$grey: #979797;

// base background
$white: #FFFFFF;

$muted-red: #EB6B56;
$red: #e64328;

#clone-container,
#shogun-sidebar .templates .tool,
.component-wrapper,
.component-wrapper .drag-handle,
.controls .control {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}

#shogun-sidebar {
  .shogun-sidebar {
    padding: 16px 0;

    * {
      font-family: 'Open Sans';
    }

    .tool {
      font-size: 14px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      font-weight: bold;
    }

    h4 {
      font-size: 16px;
    }
  }
}

.shogun-sidebar-handle {
  position: absolute;
  width: 20px;
  height: 60px;
  top: calc(50% - 30px);
  left: 19px;
  background: $shogun-primary;
  opacity: 0.5;
  transition: opacity 0.5s 0.5s;
  z-index: 998;
  line-height: 60px;
  font-size: 16px;
  padding-left: 6px;
  color: white;

  i {
    vertical-align: middle;
  }
}


#shogun-sidebar {
  .shogun-sidebar {
    color: #F6F6F6;
    width: 240px;
    height: calc(100%);
    position: fixed;
    background: $shogun-primary;
    top: 0;
    left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 998;
    opacity: 0.5;

    p {
      margin: 10px 0;
      text-align: center;
    }

    h4 {
      text-align: center;
    }

    .templates {
      .tool {
        background: $shogun-primary;
        padding: 5px 10px;
        margin: 1px 5px;
        cursor: move;
        border: 1px dashed $shogun-primary-muted;

        &:hover {
          background: $shogun-primary-muted;
        }

      }
    }

    transition: left 0.5s, opacity 0.5s;

    &:hover {
      left: 0;
      opacity: 1;
    }
  }
}

.shogun-sidebar-wrapper-dragging {
  .shogun-sidebar {
    opacity: 0;
  }
  .shogun-sidebar-handle {
    opacity: 0;
  }
}

.shogun-sidebar-wrapper-show {
  .shogun-sidebar-handle {
    transition: opacity 0s;
    opacity: 0;
  }
  .shogun-sidebar {
    left: 0;
    opacity: 1;
  }
}
