@import "partials/*";

.email {
  .header {
    width: 100%;
    background-color: $shogun-primary;

    a {
      background-image: url(https://ucarecdn.com/8a827183-306c-4729-8455-827f5408f52a/);
      height: 91px;
      width: 128px;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center center;
      display: block;
      margin: 0 auto;
    }
  }

  .main {
    width: 100%;
    height: 100%;
    padding-top: 24px;
    background-color: $light-grey;
    font-family: 'Open Sans', sans-serif;

    .content {
      margin: 0 30px;
    }
  }
}
