@import "partials/*";

[class^="shogun"] {
  box-sizing: border-box;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

html > body {
  min-height: 100vh !important;
}

.shogun-root {
  min-height: 100vh;

  .shogun-dragzones {
    > div {
      position: fixed;
      height: 30px;
      width: 100%;
      left: 0;
      z-index: 19999999;
    }

    .scroll-top-fast {
      top: 0px;
    }

    .scroll-top-normal {
      top: 30px;
    }

    .scroll-stop {
      top: 60px;
      height: calc(100% - 120px);
    }

    .scroll-bottom-normal {
      bottom: 30px;
    }

    .scroll-bottom-fast {
      bottom: 0px;
    }
  }

  &.shogun-root-dragging {
    * {
      -webkit-user-select: none !important;
      user-select: none !important;
    }
    .shogun-dropzone {
      min-height: 10px;
    }
  }

  &.shogun-root-dropzones {
    .shogun-dropzone {
      height: 50px;
      border: 1px dashed $grey;
    }
  }

  .shogun-dropzone {
    height: 0;
    overflow: hidden;

    &.shogun-dropzone-empty {
      height: 50px;
      border: 1px dashed $grey;
    }
    &.shogun-dropzone-active {
      background: rgba(44,130,201,1);
    }
  }

  .shogun-component {
    min-height: 30px;
    position: relative;

    &.shogun-component-dragging {
      .shogun-dropzone {
        display: none !important;
        &.shogun-dropzone-empty {
          display: block !important;
        }
      }
    }

    .row {
      min-height: 30px;
    }

    img {
      -webkit-user-drag: none;
      user-drag: none;
    }
    .shogun-markdown, .shogun-html {
      min-height: 30px;
      cursor: pointer;
      .shogun-overlay {
        img {
          height: 50%;
          max-height: 50px;
        }
      }
    }
  }

  *, input, textarea, .cke_editable *, .cke_editable {
    -webkit-user-select: none;
    user-select: none;
  }

  div[contenteditable], span[contenteditable] {
    -webkit-user-select: text;
    user-select: text;

    > * {
      -webkit-user-select: text;
      user-select: text;
    }
  }

  [contenteditable="true"]:active,
  [contenteditable="true"]:focus {
    border:none;
    outline:none;
  }

  .shogun-input-wrapper {
    position: relative;
    display: block;

    &.shogun-input-wrapper-inline {
      display: inline-block;
    }

    &:hover {
      .shogun-overlay {
        display: inherit;
      }
    }

    .shogun-overlay {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      position: absolute;
      background: $shogun-primary;
      pointer-events: none;
      &.shogun-overlay-rich-text, &.shogun-overlay-image {
        pointer-events: initial;
        cursor: pointer;
      }
      color: black;
      opacity: 0.4;
      display: none;
      border-radius: 5px;
      i {
        color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 50px;
        line-height: 50px;
      }
      img {
        position: absolute;
        height: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        max-height: 50px;
        left: 50%;
        border: none;
        box-shadow: none;
      }
      &.shogun-overlay-inherit {
        i {
          padding: 0;
          font-size: inherit;
          line-height: inherit;
        }
      }
    }
  }
  img.shogun-img-input {
    cursor: pointer;
  }
  img.shogun-img-placeholder {
    opacity: 0.5;
  }

  .shogun-ce-focused, .shogun-rt-focused {
    .shogun-overlay {
      display: none !important;
    }
  }

  .img-responsive {
    display: inline;
  }

  .shogun-video-blank {
    background: black;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    opacity: 0.75;
    i {
      position: absolute;
      top: calc(50% - 25px);
    }
  }

  .shogun-ce {
    cursor: text;
    display: inline-block;
  }

  .shogun-rt {
    cursor: text;
  }

  iframe {
    pointer-events: none;
  }
}

.shogun-outline {
  display: none;
  position: absolute;
  pointer-events: none;
  border-width: 2px;
  border-style: solid;
  .shogun-outline-label {
    box-sizing: border-box;
    height: 20px;
    font-size: 12px;
    padding: 2px 10px;
    position: absolute;
    top: -22px;
    left: -2px;
    color: white;
    font-family: "Open Sans" !important;
    font-weight: bold;

    &.bottom {
      top: initial;
      bottom: -20px;
    }

    &.inside {
      top: -2px;
    }
  }
}

.shogun-outline-highlighted {
  z-index: 9999999;
  border-color: red;
  .shogun-outline-label {
    background: red;
  }
}

.shogun-outline-selected {
  z-index: 9999998;
  border-color: $shogun-primary;

  .shogun-outline-label {
    background: $shogun-primary;
  }
}

.shogun-outline-active {
  z-index: 9999997;
  border-color: green;

  .shogun-outline-label {
    background: green;
  }
}

.shogun-outline-dragging {
  display: none !important;
}

.cke {
  z-index: 10000000 !important;
}
