/*
 *= require redactor
 *= require jquery-ui/slider
*/

@import "basic";
@import "partials/*";
@import "bootstrap-colorpicker.min";
@import "animate";
@import "inputs";

$sidebar-right-width: 240px;
$sidebar-left-width: 50px;
$toolbar-top-height: 50px;
$toolbar-bottom-height: 30px;
$standard-padding: 20px;
$narrow-padding: 15px;
$standard-border-width: 1px;
$shogun-tablet-width: 768px;
$shogun-mobile-width: 480px;

$underlay-z: 200;
$editor-z: 250;
$markdown-z: 240;

$active: #F266C3;

#shogun-editor {
  font-family: "Open Sans";
  width: calc(100%);
  height: calc(100%);
  overflow: hidden;
}

// toolbars

.shogun-toolbar {
  background: $light-grey;

  &.shogun-toolbar-top {
    border-bottom: $standard-border-width solid $grey;
    height: $toolbar-top-height;
  }

  &.shogun-toolbar-bottom {
    border-top: $standard-border-width solid $grey;
    height: $toolbar-bottom-height;
    position: absolute;
    bottom: 0;
    width: calc(100% - #{$sidebar-right-width + $sidebar-left-width});
    left: $sidebar-left-width;
  }
}

// sidebars

.shogun-sidebar {
  position: absolute;
  top: $toolbar-top-height;
  background: $light-grey;
  bottom: 0;

  &.shogun-sidebar-left {
    border-right: $standard-border-width solid $grey;
    width: $sidebar-left-width;
    left: 0;
  }
  &.shogun-sidebar-right {
    border-left: $standard-border-width solid $grey;
    margin-top: 42px;
    width: $sidebar-right-width;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    .nav.nav-tabs {
      width: $sidebar-right-width;
      margin-left: -10px;
      margin-right: -10px;
    }

    & > div > .nav.nav-tabs:first-child {
      border-left: $standard-border-width solid $grey;
      background-color: darken($light-grey, 5%);
      position: fixed;
      margin-left: -1px;
      margin-right: 0;
      top: $toolbar-top-height;

      li {
        &.active {
          a {
            border-top: 1px solid $light-grey;
            background-color: $light-grey;
            border-bottom: 1px solid $light-grey;
          }
          &:first-child {
            a {
              border-left: 1px solid $light-grey;
            }
          }
        }
        a {
          border-radius: 0px;
          background-color: darken($light-grey, 5%);
          margin-right: 0px;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}

// bottom toolbar styling

.shogun-breadcrumb {
  float: left;
  .breadcrumb {
    padding: 5px 10px;
  }
}

// top toolbar styling

.shogun-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  background: asset-url("v2/logo_black_small.png") center center no-repeat;
  background-size: contain;
  width: 63px;
  height: 30px;
}

.shogun-pages-dropdown {
  position: absolute;
  left: 90px;
  top: 16px;

  > a.dropdown-toggle {
    color: $grey;
    font-weight: bold;
    font-size: 12px;

    &:hover {
      text-decoration: none;
    }
  }

  ul.shogun-pages-menu {
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    left: -41px;
    top: 31px;

    .divider {
      margin: 0px;
    }

    li {
      color: $light-grey;
    }
  }
}

.shogun-page-configuration {
  position: absolute;
  top: 10px;
  left: 154px;

  .page-actions, .form-inline {
    display: inline-block;
  }

  .page-actions {
    & > .btn-group {
      margin-right: 10px;
    }
  }

  .form-inline {
    & > .btn-group {
      margin-left: 10px;
    }
  }

  .form-inline {
    margin-right: 10px;
    .form-control {
      margin-right: 5px;
    }
  }
}

.shogun-view-configuration {
  position: absolute;
  top: 10px;
  right: 10px;
}

// sub top menu

.shogun-subnav-menu {
  position: absolute;
  height: $toolbar-top-height;
  left: $sidebar-left-width;
  top: $toolbar-top-height;
  padding: 10px;
  z-index: 999;
  width: calc(100% - #{$sidebar-right-width + $sidebar-left-width});
  background-color: $light-grey;
  border-bottom: 1px solid $grey;

  .form-inline {
    margin-right: 10px;
    .form-control {
      margin-right: 5px;
    }
  }

  .close-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

// left sidebar styling

.shogun-dd-controls {
  position: absolute;
  left: 8px;
  margin-top: 10px;
}

// right sidebar styling

.shogun-palette {
  padding: $narrow-padding;

  .shogun-palette-tool {
    img {
      -webkit-user-drag: none;
      user-drag: none;
    }
    padding: 10px;
    background: $light-grey;
    color: $grey;
    border: 1px dashed $grey;
    margin-bottom: 8px;
    cursor: move;

    &:hover {
      border: 1px solid $grey;
      background: darken($light-grey, 5%);
    }

    a {
      float: right;
    }
    &.shogun-standard-component {
      border-radius: 5px;
      margin-bottom: 30px;
      width: 82px;
      height: 82px;
      padding: 0;
      img {
        width: 82px;
        height: 82px;

      }
    }
  }
}

.shogun-component-configuration, .shogun-data-attributes {
  padding-left: 10px;
  padding-right: 10px;

  h4 {
    font-size: 14px;
    text-align: center;
  }

  .control-label, label {
    font-size: 12px;
    font-weight: normal;
  }

  .form-group:last-child {
    margin-bottom: 0px;
  }

  .shogun-component-general {
    padding-bottom: 10px;
  }

  .shogun-component-styles, .shogun-component-values {
    margin-left: -10px;
    margin-right: -10px;

    .input-group-addon {
      padding: 4px 8px;
      line-height: 1px;
    }

    .dimensions, .form-group {
      margin-bottom: 10px;
    }
    .form-group:last-child {
      margin-bottom: 0px;

      > * {
        margin-bottom: 0px;
      }
    }
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
    [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px;
    }
    .panel-default {
      border-radius: 0px;
      border-left: none;
      border-right: none;
      margin-top: 0px;
      margin-bottom: 0px;
      border-bottom: 0px;
      .panel-heading {
        padding: 0;
        h3 {
          font-size: 14px;
          padding: 6px 10px 12px;
          color: #333333
        }
        .btn.btn-block {
          text-align: left;
          padding: 6px 10px;
          &.disabled {
            color: #333333;
          }
        }
        .shogun-style-tooltip {
          float: right;
          margin-right: 38px;
          margin-top: 8px;
          cursor: pointer;
          color: #333333;
        }
      }
      .panel-body {
        padding: 6px 10px 10px;
        .shogun-clear-button-wrapper {
          margin-top: -34px;
          margin-bottom: 16px;
        }
        img {
          border: 1px solid $light-grey;
        }
      }
    }
  }

  .shogun-unit-text-input-wrapper {
    .shogun-unit-text-input {
      .form-control {
        width: calc(100% - 50px);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      position: relative;
      .shogun-arrow-container {
        position: absolute;
        top: 0;
        right: 31px;
        .btn {
          height: 15px;
          border-radius: 0px;
          font-size: 10px;
          padding: 0;
          line-height: 10px;
          width: 20px;
        }
        .btn-group-vertical > .btn + .btn {
          margin-top: 0px;
        }
      }
      .shogun-unit-dropdown-container {
        position: absolute;
        top: 0;
        right: 0;
        .btn-group .btn {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          width: 32px;
          height: 30px;
          padding: 0;
        }

        .dropdown-menu {
          min-width: 40px;
          a {
            padding: 3px 6px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .ui-slider-handle {
    outline: none;
  }

  .shogun-visibility, .shogun-position {
    .checkbox i {
      font-size: 20px;
    }
  }
}

.shogun-clear-button-wrapper {
  text-align: right;
}

.shogun-dimension-diamond {
  position: relative;
  label {
    display: block;
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
  }
  .shogun-lock-button {
    position: absolute;
    top: 24px;
    z-index: 200;
  }
}

.shogun-navigator {
  padding: $standard-padding;

  li > ul {
    padding-left: $standard-padding;
  }

  a.active {
    color: $active;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

// inner frame styling

.embed-underlay {
  position: absolute;
  top: $toolbar-top-height;
  bottom: $toolbar-bottom-height;
  height: calc(100% - #{$toolbar-top-height + $toolbar-bottom-height});
  width: calc(100% - #{$sidebar-right-width + $sidebar-left-width});
  right: $sidebar-right-width;
  left: $sidebar-left-width;
  z-index: $underlay-z;
}

.embed {
  z-index: $editor-z;
  position: absolute;
  top: $toolbar-top-height;
  height: calc(100% - #{$toolbar-top-height + $toolbar-bottom-height});
}

// view sizes

.shogun-editor-desktop {
  .embed {
    width: calc(100% - #{$sidebar-right-width + $sidebar-left-width});
    right: $sidebar-right-width;
    left: $sidebar-left-width;
  }
}

.shogun-editor-tablet {
  .embed {
    width: $shogun-tablet-width;
    max-width: calc(100% - #{$sidebar-right-width + $sidebar-left-width}) !important;
    right: calc(#{$sidebar-right-width} + ((100% - #{$sidebar-right-width} - #{$sidebar-left-width}) / 2) - (#{$shogun-tablet-width} / 2));
  }
  @media (max-width: #{$shogun-tablet-width + $sidebar-right-width + $sidebar-left-width}) {
    .embed {
      right: $sidebar-right-width !important;
    }
  }
}

.shogun-editor-mobile {
  .embed {
    width: $shogun-mobile-width;
    max-width: calc(100% - #{$sidebar-right-width + $sidebar-left-width}) !important;
    right: calc(#{$sidebar-right-width} + ((100% - #{$sidebar-right-width} - #{$sidebar-left-width}) / 2) - (#{$shogun-mobile-width} / 2));
  }
  @media (max-width: #{$shogun-mobile-width + $sidebar-right-width + $sidebar-left-width}) {
    .embed {
      right: $sidebar-right-width !important;
    }
  }
}

.shogun-editor-preview {
  .embed {
    width: calc(100%);
    right: 0;
    left: 0;
    height: calc(100% - #{$toolbar-top-height});
    top: $toolbar-top-height;
  }
  .shogun-sidebar-left, .shogun-sidebar-right, .shogun-toolbar-bottom {
    display: none;
  }
}

// markdown editor

.shogun-editor-with-markdown-editor, .shogun-editor-with-html-editor {
  .embed {
    height: calc((100% - #{$toolbar-top-height + $toolbar-bottom-height}) / 2);
  }
  .shogun-markdown-editor, .shogun-html-editor {
    height: calc((100% - #{$toolbar-top-height + $toolbar-bottom-height}) / 2);
    position: absolute;
    bottom: $toolbar-bottom-height;
    width: calc(100% - #{$sidebar-right-width + $sidebar-left-width});
    right: $sidebar-right-width;
    left: $sidebar-left-width;
    z-index: $markdown-z;
    overflow-x: hidden;
    overflow-y: hidden;
    background: $white;
    border-top: 1px solid $grey;
    .shogun-markdown-editor-close, .shogun-html-editor-close {
      position: absolute;
      top: 15px;
      right: 30px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
    }
    textarea {
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 30px;
      background: transparent;
      height: calc(100%);
      width: calc(100%);
      border:none;
      outline:none;
      -webkit-user-select: text;
      user-select: text;
      font-size: 16px;
      font-family: sans-serif;
    }
  }
  .shogun-html-editor textarea {
    font-family: monospace !important;
  }
  &.shogun-editor-preview {
    .embed {
      height: calc((100% - #{$toolbar-top-height}) / 2);
    }
    .shogun-markdown-editor, .shogun-html-editor {
      width: calc(100%);
      height: calc((100% - #{$toolbar-top-height}) / 2);
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.shogun-tabs-configuration .nav > li > a {
  padding: 8px 5px;
}
