.toolbar .form-inline {
  float: left;

  .form-group {
    margin-right: 6px;
  }
}

.dropdown-menu {
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0px;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.modal {
  .modal-content {
    border-radius: 0px;
  }

  .modal-header {
    background-color: $shogun-primary;

    .modal-title {
      color: $light-grey;
    }
  }

  .modal-body {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .modal-footer {

  }
}

.img-responsive {
  display: inline;
}

dt {
  margin-bottom: 5px;
}

dd {
  margin-bottom: 20px;
}
