.loader-container {
  width: 70px;
  margin: 0 auto;

  .shogun-loader {
    background-image: url(image_path("v2/logo_blue.png"));
    width: 70px;
    height: 33px;
    background-size: 70px 33px;
    animation: spin 1s infinite;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
  }
}

.full-screen-loader {
  background-color: $shogun-primary;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999;

  .loader-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;

    .shogun-loader {
      background-image: url(image_path("logo.png"));
      margin-bottom: 16px;
    }

    .loading-text {
      position: absolute;
      color: white;
      font-weight: 100;
      width: 50px;
      margin-left: 8px;
      overflow: hidden;
      animation: loading 1s infinite;
      -webkit-animation-name: loading;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
    }
  }
}

.page-alerts {
  position: absolute;
  width: 100%;
  top: 100px;
}

.saving-loader {
  width: 30px;
  height: 30px;
  background: image-url("saving.gif");
  float: right;
  margin: 3px 0px 0px 5px;
}

.embed {
  height: calc(100%);
  margin-top: -100px;
  width: 100%;
  position: absolute;
}

.shopify-app {
  .embed {
    margin-top: -15px;
  }
}

ul.versions-list {
  list-style: none;
  padding: 0;

  li.version-item {
    margin-bottom: 20px;
  }
}
