.tab-pane {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.google-auth-button {
  display: block;
  width: 236px;
  height: 44px;
  background: image-url("google_auth_medium.png");
  background-position: top center;
  &:hover {
    background-position: center center;
  }
  &:active {
    background-position: bottom center;
  }
}
// styling for sing in and sign up pages

.box-container {
  margin: 0 auto;

  .box {

    a {
      margin: 0 auto;
      color: $grey;
    }

    .links {
      text-align: center;

      > * {
        margin: 20px 0;
      }

      input.btn {
        width: 140px;
      }
    }
  }
}

.variables {
  max-height: calc(100vh - 218px);
  overflow-y: scroll;
  .btn-group {
    a {
      padding: 6px 10px;
    }
  }
}

.collections-actions > * {
  margin-right: 8px;
}
