/*
 *= require_self
 */

// fonts and colors
@import "partials/*";

// overrides

@import "variables";

$navbar-margin-bottom: 0px;
$navbar-default-link-color: $light-grey !default;
$navbar-default-link-hover-color: darken($light-grey, 15%);

// bootstrap
@import "basic";

@mixin transition() {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

// flatly style overrides
@import "override";
@import "shared";

@import "buttons";
@import "text";

.navbar {
  .brand {
    background-image: url(image_path("logo.png"));
    width: 84px;
    height: 36px;
    background-size: 84px 36px;
    margin: -8px 0;
  }

  .sites-menu, .pages-menu {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.shogun-nav {
  &.bottom {
    top: -51px;
  }
}

.footer {
  margin-top: 0px;
  background-color: $dark-grey;
  padding: 18px 0 50px;

  a {
    color: $light-grey;
    text-decoration: none;
  }

  .left {
    float: left;
  }

  .center {
    color: $light-grey;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    pointer-events: none;

    i {
      color: pink;
    }
  }

  .right {
    float: right;

    > * {
      margin-left: 30px;
    }
  }

}

#sk-container {
  color: $shogun-primary !important;

  #sk-header {
    background-color: $light-grey !important;
    border-radius: 4px 4px 0 0 !important;

    #sk-handle {
      color: $shogun-primary !important;
    }
  }
}




//// NEW STYLING ////
body {
  overflow-x: hidden;
}

#v2 {

font-family: "Open Sans";
font-weight: 100;

&.blue {
  background-color: $shogun-primary;
}

.brand {
  background-image: url(image_path("v2/logo.png"));
  width: 72px;
  height: 34px;
  background-size: 72px 34px;

  &.dark {
    background-image: url(image_path("v2/logo-blue.png"));
  }
}

a {
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 14px;
  @include transition;

  &:hover {
    color: darken($shogun-primary, 15%);
    text-decoration: none;
  }

  &.light {
    color: $light-grey;

    &:hover {
      color: darken($light-grey, 15%);
    }
  }
}

input[type="email"], input[type="text"], input[type="password"], textarea {
  color: $shogun-primary !important;
  border: none;
  border-radius: 4px;
  padding-left: 16px;
  height: 40px;
}

textarea {
  min-height: 200px;
}

.shogun-nav {
  background-color: $shogun-primary;
  color: $light-grey;
  border: none;
  border-radius: 0px;

  .navbar-brand {
    padding: 15px;
  }

  &.light {
    background-color: $light-grey;
    box-shadow: 0 1px 2px -1px $grey;
    -moz-box-shadow: 0 1px 2px -1px $grey;
    -webkit-box-shadow: 0 1px 2px -1px $grey;

    .brand {
      background-image: url(image_path("v2/logo-blue.png"));
    }

    a {
      color: $shogun-primary !important;

      &:hover {
        color: darken($shogun-primary, 15%) !important;
      }
    }
  }
}

.short-contact-form {
  color: $light-grey;

  input[type="email"] {
    width: 240px;
  }
}

.long-contact-form {
  input[type="email"], input[type="text"]{
    width: 100%;
    margin-bottom: 8px;
  }
}

#footer {
  background-image: url(image_path("v2/footer_bkg.jpg"));
  padding: 20px 15px;
  min-height: 200px;
  color: $light-grey;
  background-size: cover;

  ul {
    list-style: none;
    color: $light-grey;

    li {
      margin-bottom: 6px;
    }

    .link-title {
      font-family: "Lato";
      font-size: 16px;
    }
  }

  @media (max-width: 767px) {
    .social-links {
      width: 130px;
      margin: 16px auto;
    }
  }

  .social-links {
    height: 40px;

    a > div {
      width: 35px;
      height: 33px;
      background-size: 35px 33px;
      float: right;
      margin-right: 4px;
      margin-left: 4px;
      height: 34px;
      background-repeat: no-repeat;
      @include transition;
    }

    .fb-link {
      background-image: url(image_path("v2/fb_icon.png"));

      &:hover {
        background-image: url(image_path("v2/fb_icon_active.png"));
      }
    }

    .twitter-link {
      background-image: url(image_path("v2/twitter_icon.png"));
      &:hover {
        background-image: url(image_path("v2/twitter_icon_active.png"));
      }
    }

    .linkedin-link {
      background-image: url(image_path("v2/linkedin_icon.png"));
      &:hover {
        background-image: url(image_path("v2/linkedin_icon_active.png"));
      }
    }
  }

}

@media (max-width: 767px) {
  #footer {
    padding-bottom: 64px;

    .brand {
      margin: 16px auto;
    }

    ul {
      padding-left: 0px;
      text-align: center;
    }
  }
}


.play-button {
  cursor: pointer;
  background-image: url(image_path("v2/play_btn.png"));
  width: 176px;
  height: 176px;
  background-size: 176px 176px;
  margin: 0 auto;
  @include transition;

  &:hover {
    background-image: url(image_path("v2/play_btn_active.png"));
  }
}

.imac-frame {
  background-image: url(image_path("v2/imac.png"));
  width: 670px;
  height: 529px;
  background-size: 670px 529px;
  background-repeat: none;

  .imac-frame-image {
    width: 615px;
    height: 354px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 24px;
  }
}

#plans {
  .cards {
    margin: 40px auto -36px;

    .row {
      position: relative;
      height: 220px;
      z-index: 9;
    }

    .starter-card {
      position: absolute;
      top: 10px;
      background-image: url(image_path("v2/pricing_starter_card.png"));
      width: 284px;
      height: 204px;
      background-size: 284px 204px;
      text-align: center;
      color: $light-grey;
      margin-left: calc((100% - 284px)/2);

      .starter-price {
        margin-bottom: 20px;

        .dollar {
          font-size: 14px;
          vertical-align: top;
          line-height: 40px;
        }
        .number {
          font-size: 48px;
        }
        .denom {
          margin-left: -10px;
          font-size: 14px;
        }
      }

    }

    .enterprise-card {
      position: absolute;
      left: -20px;
      background-image: url(image_path("v2/pricing_enterprise_card.png"));
      width: 284px;
      height: 226px;
      background-size: 284px 226px;
      text-align: center;
      margin-left: calc(50% - -142px);

      h3 {
        margin: 50px 0;
      }
    }
  }

  .plans-table {
    margin: 20px auto;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 100;
    color: $grey;

    @media (min-width: 991px) {
      width: 768px;
    }

    .row:first-child {
      .col {
        padding-top: 40px;
      }
    }

    .row:last-child {
      .col:nth-child(2) {
        border-bottom: 1px solid #D8D8D8;
      }

      .col:nth-child(3) {
        border-bottom: 1px solid #D8D8D8;
      }
    }

    .col {
      padding-bottom: 8px;
      text-align: center;
      border-right: 1px solid #D8D8D8;
      line-height: 36px;
    }

    .col:first-child {
      text-align: left;
      font-size: 18px;
    }

    .fa.fa-check {
      font-size: 36px;
      line-height: 21px;
      color: $checkmarks;
    }
    .fa.fa-times {
      font-size: 36px;
      line-height: 21px;
      color: darken($light-grey, 8%);
    }
  }

  @media (max-width: 767px) {
    .cards {
      width: 100vw;
      padding-left: 0px;

      .starter-card {
        width: 50%;
        top: 0px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -16px;

        .starter-price {
          margin: 24px 0px;
          min-height: 40px;

          * {
            font-size: 18px !important;
            line-height: 20px !important;
            vertical-align: middle !important;
            margin-left: 0px !important;
          }
        }
      }

      .enterprise-card {
        height: 204px;
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 50%;

        h3 {
          margin: 24px 10px;
          min-height: 40px;
        }
      }

      .button {
        font-size: 14px;
        padding: 10px 16px;
      }
    }

    .plans-table {
      .col {
        background-color: $light-grey;
        padding-top: 20px !important;
      }

      .col:first-child {
        background-color: $white;
        text-align: center;
        font-weight: 500;
        padding-bottom: 0px;
        border-right: 0px;
      }

      .col:nth-child(3) {
        border-right: 0px;
      }
    }
  }

}

#contact > * {
  padding: 16px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  background-color: $shogun-primary;

  form > .row {
    margin-bottom: 8px;

    textarea {
      padding-top: 10px;
    }

    input, textarea {
      margin: 8px 0;
      width: 100%;
    }
  }
}

//// sign in and sign up ////

.google-auth-button {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.box-container {
  height: calc(100vh - 50px);
  max-width: 400px;
  padding-top: 100px;
  background-color: $shogun-primary;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .box {
    padding: 16px;
    box-shadow: none;
    border: 1px solid $light-grey;
    border-radius: 4px;

    h3 {
      text-align: center;
      font-weight: 500;
      margin: 16px 0;
    }
  }
}

}
