.plan-actions {
  padding: 10px 15px;
}

.plan-price {
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
}

.collaborators {
  button {
    margin-right: 4px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.add-on-item {
  width: 50%;
  display: inline-block;
  padding: 20px;
  border: 1px solid $light-grey;

  &:hover {
    border: 1px solid $light-red;
  }
}
