h1, h2, h3 {
  font-family: "Open Sans";
  font-weight: 100;
  color: $shogun-primary;

  &.light {
    color: $light-grey;
  }

  &.secondary {
    color: $shogun-secondary;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-family: "Lato";
  font-size: 16px;
  color: $grey;
}

h5 {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 700;
  color: $grey;
  text-transform: uppercase;
}
