#v2
  .container

    %h1.text-center{style: "margin-bottom: 25px;"} Pick a plan

    - unless @shop.trialled_at.present?
      %h3.secondary.text-center All plans come with a <strong>#{@shop.trial_days} day free trial</strong>

    %br

    .row
      .col-sm-offset-2.col-sm-8
        .row
          - discount = @shop.site.discount
          - Settings.shopify_plans.each do |name, data|
            .col-sm-4
              .panel.panel-default.pricing-panel
                .panel-heading.text-center
                  %h2
                    %strong= name.capitalize
                  %h4
                    - price = (data["price"].to_i * @price_modifier).floor
                    - if discount.present? && discount.plan_name == name && discount.usable?
                      $#{price - discount.amount} / month
                    - else
                      $#{price} / month
                %ul.list-group.text-center
                  - data["features"].each do |f|
                    %li.list-group-item= f
                %form{action: "/shopify/recurring_charges?plan=#{name}", method: "POST"}
                  %input.btn.btn-block.button.blue(type="submit" value="CHOOSE")

    .row
      .col-sm-8.col-sm-offset-2
        %h2.text-center
          Not sure which plan you need?
        %br
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item(src="https://www.youtube.com/embed/mAXIHM8misE")

    %br

    .row
      .col-sm-8.col-sm-offset-2
        %h3 Questions?
        %h5 Contact us at support@getshogun.com
