- hu = User.where(heroku: true)

%h4 Users
.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Users (all time)
      .panel-body= User.count
  .col-xs-4
    .panel.panel-default
      .panel-heading Users (30 days)
      .panel-body= User.where("created_at > ?", 30.days.ago).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Users (7 days)
      .panel-body= User.where("created_at > ?", 7.days.ago).count
.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Heroku Users (all time)
      .panel-body= hu.count
  .col-xs-4
    .panel.panel-default
      .panel-heading Heroku Users (30 days)
      .panel-body= hu.where("created_at > ?", 30.days.ago).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Heroku Users (7 days)
      .panel-body= hu.where("created_at > ?", 7.days.ago).count
