<div class="shogun-panel-group">
  <div class="shogun-panel">
    <div class="shogun-panel-heading">
      <h4 class="shogun-panel-title">
        <a href="#accordion_1">{{ accordion_titles[0] }}</a>
      </h4>
    </div>
    {{ accordion_1 }}
  </div>

  {% if accordion_titles.size > 1 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_2">{{ accordion_titles[1] }}</a>
        </h4>
      </div>
      {{ accordion_2 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 2 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_3">{{ accordion_titles[2] }}</a>
        </h4>
      </div>
      {{ accordion_3 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 3 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_4">{{ accordion_titles[3] }}</a>
        </h4>
      </div>
      {{ accordion_4 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 4 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_5">{{ accordion_titles[4] }}</a>
        </h4>
      </div>
      {{ accordion_5 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 5 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_6">{{ accordion_titles[5] }}</a>
        </h4>
      </div>
      {{ accordion_6 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 6 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_7">{{ accordion_titles[6] }}</a>
        </h4>
      </div>
      {{ accordion_7 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 7 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_8">{{ accordion_titles[7] }}</a>
        </h4>
      </div>
      {{ accordion_8 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 8 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_9">{{ accordion_titles[8] }}</a>
        </h4>
      </div>
      {{ accordion_9 }}
    </div>
  {% endif %}
  {% if accordion_titles.size > 9 %}
    <div class="shogun-panel">
      <div class="shogun-panel-heading">
        <h4 class="shogun-panel-title">
          <a href="#accordion_10">{{ accordion_titles[9] }}</a>
        </h4>
      </div>
      {{ accordion_10 }}
    </div>
  {% endif %}
</div>
