.shogun-panel-group {
  margin-bottom: 20px;
}

.shogun-panel-group .shogun-panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.shogun-panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  overflow: hidden;
}

.shogun-panel-group .shogun-panel+.shogun-panel {
  margin-top: 5px;
}

.shogun-panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  border-bottom: 0;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.shogun-panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.shogun-panel-title {
  text-decoration: none;
}

.shogun-panel-body {
  border-top: 1px solid #ddd;
  padding: 15px;
  display: none;
}

.shogun-panel-body.in {
  display: block;
}
