<div class="shogun-component" id="c{{__uuid}}" {{__data}}>
  {% if new_window %}
    <a style="{{ __styles }}display:block;" class="{{ button_classes }}" href="{{ button_href }}" target="_blank">{{ button_text }}</a>
  {% else %}
    <a style="{{ __styles }}display:block;" class="{{ button_classes }}" href="{{ button_href }}">{{ button_text }}</a>
  {% endif %}
</div>
