.shg-row {
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.shg-row:after, .shg-row:before {
  display: table;
  content: " ";
}

.shg-row:after {
  clear: both;
}

.shg-c-xs-1, .shg-c-sm-1, .shg-c-md-1, .shg-c-lg-1, .shg-c-xs-2, .shg-c-sm-2, .shg-c-md-2, .shg-c-lg-2, .shg-c-xs-3, .shg-c-sm-3, .shg-c-md-3, .shg-c-lg-3, .shg-c-xs-4, .shg-c-sm-4, .shg-c-md-4, .shg-c-lg-4, .shg-c-xs-5, .shg-c-sm-5, .shg-c-md-5, .shg-c-lg-5, .shg-c-xs-6, .shg-c-sm-6, .shg-c-md-6, .shg-c-lg-6, .shg-c-xs-7, .shg-c-sm-7, .shg-c-md-7, .shg-c-lg-7, .shg-c-xs-8, .shg-c-sm-8, .shg-c-md-8, .shg-c-lg-8, .shg-c-xs-9, .shg-c-sm-9, .shg-c-md-9, .shg-c-lg-9, .shg-c-xs-10, .shg-c-sm-10, .shg-c-md-10, .shg-c-lg-10, .shg-c-xs-11, .shg-c-sm-11, .shg-c-md-11, .shg-c-lg-11, .shg-c-xs-12, .shg-c-sm-12, .shg-c-md-12, .shg-c-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
.shg-c-xs-1, .shg-c-xs-2, .shg-c-xs-3, .shg-c-xs-4, .shg-c-xs-5, .shg-c-xs-6, .shg-c-xs-7, .shg-c-xs-8, .shg-c-xs-9, .shg-c-xs-10, .shg-c-xs-11, .shg-c-xs-12 {
  float: left;
}
.shg-c-xs-12 {
  width: 100%;
}
.shg-c-xs-11 {
  width: 91.66666667%;
}
.shg-c-xs-10 {
  width: 83.33333333%;
}
.shg-c-xs-9 {
  width: 75%;
}
.shg-c-xs-8 {
  width: 66.66666667%;
}
.shg-c-xs-7 {
  width: 58.33333333%;
}
.shg-c-xs-6 {
  width: 50%;
}
.shg-c-xs-5 {
  width: 41.66666667%;
}
.shg-c-xs-4 {
  width: 33.33333333%;
}
.shg-c-xs-3 {
  width: 25%;
}
.shg-c-xs-2 {
  width: 16.66666667%;
}
.shg-c-xs-1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .shg-c-sm-1, .shg-c-sm-2, .shg-c-sm-3, .shg-c-sm-4, .shg-c-sm-5, .shg-c-sm-6, .shg-c-sm-7, .shg-c-sm-8, .shg-c-sm-9, .shg-c-sm-10, .shg-c-sm-11, .shg-c-sm-12 {
    float: left;
  }
  .shg-c-sm-12 {
    width: 100%;
  }
  .shg-c-sm-11 {
    width: 91.66666667%;
  }
  .shg-c-sm-10 {
    width: 83.33333333%;
  }
  .shg-c-sm-9 {
    width: 75%;
  }
  .shg-c-sm-8 {
    width: 66.66666667%;
  }
  .shg-c-sm-7 {
    width: 58.33333333%;
  }
  .shg-c-sm-6 {
    width: 50%;
  }
  .shg-c-sm-5 {
    width: 41.66666667%;
  }
  .shg-c-sm-4 {
    width: 33.33333333%;
  }
  .shg-c-sm-3 {
    width: 25%;
  }
  .shg-c-sm-2 {
    width: 16.66666667%;
  }
  .shg-c-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 992px) {
  .shg-c-md-1, .shg-c-md-2, .shg-c-md-3, .shg-c-md-4, .shg-c-md-5, .shg-c-md-6, .shg-c-md-7, .shg-c-md-8, .shg-c-md-9, .shg-c-md-10, .shg-c-md-11, .shg-c-md-12 {
    float: left;
  }
  .shg-c-md-12 {
    width: 100%;
  }
  .shg-c-md-11 {
    width: 91.66666667%;
  }
  .shg-c-md-10 {
    width: 83.33333333%;
  }
  .shg-c-md-9 {
    width: 75%;
  }
  .shg-c-md-8 {
    width: 66.66666667%;
  }
  .shg-c-md-7 {
    width: 58.33333333%;
  }
  .shg-c-md-6 {
    width: 50%;
  }
  .shg-c-md-5 {
    width: 41.66666667%;
  }
  .shg-c-md-4 {
    width: 33.33333333%;
  }
  .shg-c-md-3 {
    width: 25%;
  }
  .shg-c-md-2 {
    width: 16.66666667%;
  }
  .shg-c-md-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .shg-c-lg-1, .shg-c-lg-2, .shg-c-lg-3, .shg-c-lg-4, .shg-c-lg-5, .shg-c-lg-6, .shg-c-lg-7, .shg-c-lg-8, .shg-c-lg-9, .shg-c-lg-10, .shg-c-lg-11, .shg-c-lg-12 {
    float: left;
  }
  .shg-c-lg-12 {
    width: 100%;
  }
  .shg-c-lg-11 {
    width: 91.66666667%;
  }
  .shg-c-lg-10 {
    width: 83.33333333%;
  }
  .shg-c-lg-9 {
    width: 75%;
  }
  .shg-c-lg-8 {
    width: 66.66666667%;
  }
  .shg-c-lg-7 {
    width: 58.33333333%;
  }
  .shg-c-lg-6 {
    width: 50%;
  }
  .shg-c-lg-5 {
    width: 41.66666667%;
  }
  .shg-c-lg-4 {
    width: 33.33333333%;
  }
  .shg-c-lg-3 {
    width: 25%;
  }
  .shg-c-lg-2 {
    width: 16.66666667%;
  }
  .shg-c-lg-1 {
    width: 8.33333333%;
  }
}
