<div class="shg-row">
  {{ col_1 }}
  {{ col_2 }}
  {% if col_count > 2 %}
    {{ col_3 }}
  {% endif %}
  {% if col_count > 3 %}
    {{ col_4 }}
  {% endif %}
  {% if col_count > 4 %}
    {{ col_5 }}
  {% endif %}
  {% if col_count > 5 %}
    {{ col_6 }}
  {% endif %}
</div>
