.shogun-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.shogun-container .shogun-container {
  padding: 0;
  width: 100% !important;
}

@media (min-width: 768px) {
  .shogun-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .shogun-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .shogun-container {
    width: 1170px;
  }
}

.shogun-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.shogun-container:before,
.shogun-container:after,
.shogun-container-fluid:before,
.shogun-container-fluid:after {
  display: table;
  content: " ";
}

.shogun-container:after,
.shogun-container-fluid:after {
  clear: both;
}
