{% if output == "image" %}
  {% if link %}
    <a href="/products/{{product.handle}}"><img class="shogun-image" src="{{image.src}}" /></a>
  {% else %}
    <img class="shogun-image" src="{{image.src}}" />
  {% endif %}
{% elsif output == "title" %}
  {% if link %}
    <h1><a href="/products/{{product.handle}}">{{product.title}}</a></h1>
  {% else %}
    <h1>{{product.title}}</h1>
  {% endif %}
{% elsif output == "variant_title" %}
  {% if link %}
    <h1><a href="/products/{{product.handle}}">{{variant.title}}</a></h1>
  {% else %}
    <h1>{{variant.title}}</h1>
  {% endif %}
{% elsif output == "body_html" %}
  {{product.body_html}}
{% endif %}
