<div>
  <ul class="shogun-nav-tabs" role="tablist">
    <li class="active"><a href="#" role="tab">{{ tabs_title[0] }}</a></li>
    <li><a href="#" role="tab">{{ tabs_title[1] }}</a></li>
    {% if tabs_count > 2 %}
      <li><a href="#" role="tab">{{ tabs_title[2] }}</a></li>
    {% endif %}
    {% if tabs_count > 3 %}
      <li><a href="#" role="tab">{{ tabs_title[3] }}</a></li>
    {% endif %}
    {% if tabs_count > 4 %}
      <li><a href="#" role="tab">{{ tabs_title[4] }}</a></li>
    {% endif %}
    {% if tabs_count > 5 %}
      <li><a href="#" role="tab">{{ tabs_title[5] }}</a></li>
    {% endif %}
    {% if tabs_count > 6 %}
      <li><a href="#" role="tab">{{ tabs_title[6] }}</a></li>
    {% endif %}
    {% if tabs_count > 7 %}
      <li><a href="#" role="tab">{{ tabs_title[7] }}</a></li>
    {% endif %}
    {% if tabs_count > 8 %}
      <li><a href="#" role="tab">{{ tabs_title[8] }}</a></li>
    {% endif %}
    {% if tabs_count > 9 %}
      <li><a href="#" role="tab">{{ tabs_title[9] }}</a></li>
    {% endif %}
  </ul>
  <div class="shogun-tab-content">
    {{ tab_1 }}
    {{ tab_2 }}
    {% if tabs_count > 2 %}
      {{ tab_3 }}
    {% endif %}
    {% if tabs_count > 3 %}
      {{ tab_4 }}
    {% endif %}
    {% if tabs_count > 4 %}
      {{ tab_5 }}
    {% endif %}
    {% if tabs_count > 5 %}
      {{ tab_6 }}
    {% endif %}
    {% if tabs_count > 6 %}
      {{ tab_7 }}
    {% endif %}
    {% if tabs_count > 7 %}
      {{ tab_8 }}
    {% endif %}
    {% if tabs_count > 8 %}
      {{ tab_9 }}
    {% endif %}
    {% if tabs_count > 9 %}
      {{ tab_10 }}
    {% endif %}
  </div>
</div>
