
.shogun-nav-tabs {
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  list-style: none;
}

.shogun-nav-tabs:before,
.shogun-nav-tabs:after {
  display: table;
  content: " ";
}

.shogun-nav-tabs:after {
  clear: both;
}

.shogun-nav-tabs > li {
  float: left;
  margin-bottom: -1px;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.shogun-nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.shogun-nav-tabs > li.active > a {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.shogun-tab-content > .shogun-tab-pane {
  display: none;
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.shogun-tab-content > .shogun-tab-pane.active {
  display: block;
  opacity: 1; 
}