.shogun-video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.shogun-video-16x9 {
  padding-bottom: 56.25%;
}

.shogun-video-4x3 {
  padding-bottom: 75%;
}

.shogun-video-embed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
