{% if url != blank %}
  <div class="shogun-video shogun-video-{{aspect_ratio}}">
    <iframe class="shogun-video-embed" src="{{url}}?autoplay={% if autoplay %}1{% else %}0{% endif %}&loop={% if loop %}1{% else %}0{% endif %}{% if loop %}&playlist={{videoid}}{% endif %}" allowfullscreen></iframe>
  </div>
{% endif %}