<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid container-fluid-spacious">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to admin_path, class: "navbar-brand navbar-brand=emphasized" do %>
        <span class="icon icon-leaf navbar-brand-icon"></span>
        Shogun
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Users", admin_users_path %>
        </li>
        <li class="active">
          <%= link_to "Sites", admin_sites_path %>
        </li>
        <li>
          <%= link_to "Pages", admin_pages_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
