!!!
%html
  %head
    %title Shogun
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
    - if content_for?(:head)
      = yield :head

  %body.with-top-navbar
    = render "/layouts/admin_navbar"
    .container-fluid.container-fluid-spacious
      = render "/shared/flash"
      = yield
