!!!
%html
  %head
    %title Shogun Editor
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    = stylesheet_link_tag 'basic', media: 'all'
  %body
    = yield
