!!!
%html
  %head
    %title Shogun
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    = render "/shared/segment"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    - if content_for?(:head)
      = yield :head

  %body.heroku
    = yield
    - if ENV["ENV_NAME"] == "production"
      = render "/shared/google_analytics"

%script{:src => "https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js"}
:javascript
  document.addEventListener("DOMContentLoaded", function() {
    Boomerang.init({app: "#{@app}", addon: 'shogun'});
  });
