- pp = MongoPage.where(deleted_at: nil).ne(published_version_id: nil)
- ps = Site.where("id IN (?)", pp.distinct(:site_id))

%h4 Sites
.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Sites (all time)
      .panel-body= Site.count
  .col-xs-4
    .panel.panel-default
      .panel-heading Sites (30 days)
      .panel-body= Site.where("created_at > ?", 30.days.ago).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Sites (7 days)
      .panel-body= Site.where("created_at > ?", 7.days.ago).count
.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Active Sites (all time)
      .panel-body= ps.count
  .col-xs-4
    .panel.panel-default
      .panel-heading Active Sites (30 days)
      .panel-body= ps.where("created_at > ?", 30.days.ago).count
  .col-xs-4
    .panel.panel-default
      .panel-heading Active Sites (7 days)
      .panel-body= ps.where("created_at > ?", 7.days.ago).count

%table.table-bordered.table.table-striped
  %thead
    %tr
      %th.col-xs-3 id
      %th.col-xs-3 name
      %th.col-xs-3 url
      %th.col-xs-3 published pages
  %tbody
    - Site.all.each do |site|
      %tr
        %td= link_to site.id, admin_site_path(site)
        %td= site.name
        %td= site.url
        %td= site.published_pages_count
