.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Name
      .panel-body= @site.name
  .col-xs-4
    .panel.panel-default
      .panel-heading URL
      .panel-body= @site.url
  .col-xs-4
    .panel.panel-default
      .panel-heading Created
      .panel-body= @site.created_at


%hr/

%h4 Duplicate

= simple_form_for [:duplicate, :admin, @site], method: :post do |f|
  = f.input :name
  = f.button :submit, "Duplicate"

%h4 Plan

- if @site.plan.present?
  - plan = @site.plan
  .panel.panel-success
    %ul.list-group
      %li.list-group-item Price #{number_to_currency(plan.price / 100)}
      %li.list-group-item Price per page #{number_to_currency(plan.price_per_page / 100)}
      %li.list-group-item Price per user #{number_to_currency(plan.price_per_user / 100)}
      %li.list-group-item Max users #{plan.max_users}
      %li.list-group-item Max pages #{plan.max_pages}
      %li.list-group-item= plan.internal_notes

- else
  .well.well-sm
    = simple_form_for [:admin, @site, @site.build_plan] do |f|
      = f.input :price
      = f.input :internal_notes
      = f.input :max_users
      = f.input :price_per_user
      = f.input :max_pages
      = f.input :price_per_page
      = f.submit

%h4 Invoices

= link_to "New", new_admin_site_invoice_path(@site)
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th #
      %th Amount
      %th URL
      %th Created At
      %th Paid At
  %tbody
    - @site.invoices.each do |invoice|
      %tr
        %td
          - if invoice.paid?
            = invoice.id
          - else
            = link_to invoice.id, edit_admin_site_invoice_path(@site, invoice)

        %td= number_to_currency invoice._amount / 100.0
        %td= invoice_url(invoice)
        %td= invoice.created_at
        %td= invoice.paid_at

%h4 Pages
%table.table.table-bordered
  %thead
    %th.col-xs-2 id
    %th.col-xs-2 name
    %th.col-xs-2 path
    %th.col-xs-2 created
    %th.col-xs-2 updated
    %th.col-xs-2 published
  %tbody
    - @site.pages.each do |page|
      %tr
        %td= page._id.to_s
        %td= page.name
        %td= page.path
        %td= page.created_at
        %td= page.updated_at
        %td= page.published_version.try(:created_at)

%hr/

%h4 Users
%table.table.table-bordered
  %thead
    %th.col-xs-3 id
    %th.col-xs-3 name
    %th.col-xs-3 email
    %th.col-xs-3 admin?
  %tbody
    - @site.users.each do |user|
      %tr
        %td= user.id
        %td= user.name
        %td= user.email
        %td= user.admin?
